/*KISSY CSS Reset鐞嗗康锛�1. reset 鐨勭洰鐨勪笉鏄竻闄ゆ祻瑙堝櫒鐨勯粯璁ゆ牱寮忥紝杩欎粎鏄儴鍒嗗伐浣溿�傛竻闄ゅ拰閲嶇疆鏄揣瀵嗕笉鍙垎鐨勩��2. reset 鐨勭洰鐨勪笉鏄榛樿鏍峰紡鍦ㄦ墍鏈夋祻瑙堝櫒涓嬩竴鑷达紝鑰屾槸鍑忓皯榛樿鏍峰紡鏈夊彲鑳藉甫鏉ョ殑闂銆�3. reset 鏈熸湜鎻愪緵涓�濂楁櫘閫傞�氱敤鐨勫熀纭�鏍峰紡銆備絾娌℃湁閾跺脊锛屾帹鑽愭牴鎹叿浣撻渶姹傦紝瑁佸壀鍜屼慨鏀瑰悗鍐嶄娇鐢ㄣ�傜壒鑹诧細1. 閫傚簲涓枃锛�2. 鍩轰簬鏈�鏂颁富娴佹祻瑙堝櫒銆�*/
/** 娓呴櫎鍐呭杈硅窛 **/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,/* structural elements 缁撴瀯鍏冪礌 */ dl,dt,dd,ul,ol,li,/* list elements 鍒楄〃鍏冪礌 */ pre,/* text formatting elements 鏂囨湰鏍煎紡鍏冪礌 */ form,fieldset,legend,button,input,textarea,/* form elements 琛ㄥ崟鍏冪礌 */ th,td /* table elements 琛ㄦ牸鍏冪礌 */ {
	margin: 0;
	padding: 0;
}
/** 璁剧疆榛樿瀛椾綋 **/
body,button,input,select,textarea/* for ie */{
	font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, tahoma,arial,\5b8b\4f53,sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%; font-weight:normal;
}
address,cite,dfn,em,var,i{
	font-style: normal;
}/* 灏嗘枩浣撴壎姝� */
code,kbd,pre,samp{
	font-family: courier new,courier,monospace;
}/* 缁熶竴绛夊瀛椾綋 */
small{
	font-size: 12px;
}/* 灏忎簬 12px 鐨勪腑鏂囧緢闅鹃槄璇伙紝璁� small 姝ｅ父鍖� */
/** 閲嶇疆鍒楄〃鍏冪礌 **/
ul,ol{
	list-style: none;
}
/** 閲嶇疆鏂囨湰鏍煎紡鍏冪礌 **/
sup{
	vertical-align: text-top;
}
/* 閲嶇疆锛屽噺灏戝琛岄珮鐨勫奖鍝� */
sub{
	vertical-align: text-bottom;
}
/** 閲嶇疆琛ㄥ崟鍏冪礌 **/
legend{
	color: #000;
}
/* for ie6 */
fieldset,img{
	border: 0;
}
/* img 鎼溅锛氳閾炬帴閲岀殑 img 鏃犺竟妗� */
button,input,select,textarea{
	font-size: 100%;
}
/* 浣垮緱琛ㄥ崟鍏冪礌鍦� ie 涓嬭兘缁ф壙瀛椾綋澶у皬 */
/* 娉細optgroup 鏃犳硶鎵舵 */
/** 閲嶇疆琛ㄦ牸鍏冪礌 **/
table{
	border-collapse: collapse;
	border-spacing: 0;
}
/* 閲嶇疆 HTML5 鍏冪礌 */
article,aside,details,figcaption,figure,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
	display: block;
	margin: 0;
	padding: 0;
}
mark{
	background: #ff0;
}
img{
	border: none;
	vertical-align:top;
}
iframe{border-style:none;}
/* 娓呯悊娴姩 */
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix{
	zoom: 1;
}
/* 閿氱偣鏍峰紡 */
body a{
	text-decoration: none;
}
/* 鏂囧瓧鎺掔増 */
.f12{
	font-size: 12px
}
.f14{
	font-size: 14px
}
.f16{
	font-size: 16px
}
.f20{
	font-size: 20px
}
.fb{
	font-weight: bold
}
/* 瀹氫綅 */
.ta-l{
	text-align: left
}
.ta-c{
	text-align: center
}
.ta-r{
	text-align: right
}
.fl{
	float: left !important;
}
.fr{
	float: right !important;
}
.pr{
	position: relative
}
.pa{
	position: absolute
}
.zoom{
	zoom: 1
}
.hid{
	visibility: hidden
}
.none{
	display: none
}
/* 鑳屾櫙鍜岃竟妗� */
.bdnone{
	border: none !important
}
.bgnone{
	background: none !important
}