/*设置选择框大小*/
.addbox .selectBrand{width:162px; padding-right:10px;}
.addbox .selectCxi{width:162px; padding-right:10px;}
.addbox .selectCmodels{width:320px; padding-right:10px;}
.addbox .selectBrand b,.addbox .selectCxi b,.addbox .selectCmodels b{
	display:block;
	height:21px;
	border:1px solid #a0a0a0;
/*选择框倒三角*/
	background:url(../../img/car/arrow.gif) no-repeat 138px 6px #fff;
	cursor:pointer;
	padding:0 20px 0 6px;
	line-height:21px;
	font-weight:normal;
	background-repeat:no-repeat;
	color:#a3a3a3;
}
/*更改下拉框倒三角位置*/
.addbox .selectCmodels b{background-position: 297px 6px}
.addbox .showbox{ position:absolute; left:0px; top:29px;padding:13px 0; background-color:#fff; border:1px solid #a0a0a0; border-bottom:2px solid #0b47a0; z-index:1300}
.addbox .lflist{padding:0 10px;float:left;}
.addbox .rtlist{ float:right;}
.addbox .rtlist li a{color:#878787; display:block; padding:0 2px;}
.addbox .rtlist a.on{color:#fff; text-decoration:none; background-color:#0b47a0;}
.addbox .rtlist li a:hover{color:#fff;background-color:#0b47a0;}
.addbox .con{ display:inline-block;width:100%;}
.ppbox{width:410px; }
/*调整brand 左侧选择框大小*/
.ppbox .lflist{width:100px; overflow:hidden; padding:0 15px; border-right:1px solid #ccc;}
/*调整brand 右侧选择框大小*/
.ppbox .rtlist{width:300px;}
.ppbox .lflist a{ display:block;width:25px; font-family:"寰蒋闆呴粦";color:#878787; font-size:14px; height:25px; line-height:25px; text-align:center; float:left;}
.ppbox .lflist a:hover{ color:#fff; text-decoration:none; background-color:#0b47a0;}
.ppbox .lflist a.on{color:#fff; text-decoration:none; background-color:#0b47a0;}
.ppbox .rtlist li{width:85px; float:left; height:20px; line-height:20px; margin:1px 0 0 0; overflow:hidden;}
.cxbox{width:450px; }
.cxbox .lflist{width:150px; overflow:hidden; padding:0 15px; border-right:1px solid #ccc;}
.cxbox .rtlist{width:280px; padding-right:10px;}
.cxbox .lflist a{ display:block;font-family:"寰蒋闆呴粦";color:#878787; font-size:14px; height:24px; line-height:24px; margin:1px 0 0 0; padding-left:8px;}
.cxbox .lflist a:hover{ color:#fff; text-decoration:none; background-color:#0b47a0;}
.cxbox .lflist a.on{color:#fff; text-decoration:none; background-color:#0b47a0;}
.cxbox .rtlist li{height:24px; line-height:24px; margin:1px 0 0 0; overflow:hidden;}
.cxbox .rtlist li a{ padding:0 5px;}
.cxbox .rtlist a.on{color:#fff; text-decoration:none; background-color:#b30100;}
/*瀵规瘮琛ㄦ牸*/
.pzbox{width:965px; margin:0 auto;_overflow:hidden;font-size:12px;font-family:"瀹嬩綋",Arial,Helvetica,sans-serif;}
.tbcs th h3 b,em.ero,.ico_count,.switch_left,.switch_right,a.buycarico,a.btn_del,.icon16-left{ background:url(../../img/car/csicon.png) no-repeat;}
.pzbox a:link,.pzbox a:visited{ text-decoration:none;}
.pzbox a:hover{ color:#0b47a0;}
.pzbox table{padding:0px;border-collapse:collapse;border-spacing: 0;}

.tbset{width:auto;height:100px;border-top:solid 1px #e0e0e0;border-left:solid 1px #e0e0e0;}
.tbset th,.tbset td{ border-right:solid 1px #d5ccc3;border-bottom:solid 1px #e0e0e0;background-color:#f8f4f0; vertical-align:top;}
.tbset th{ background:#fff; font-weight:normal; text-align:left;}
.tbset td:hover a.btn_del{ background-position:0px -234px;width:48px; height:20px;}
/*新修改*/
.setbox{ width:198px; height:88px; padding:10px 0 0 15px; position:relative; z-index:1200; background-color:#FFFFFF;}
.setbox label{font-family:Tahoma,"Times New Roman"; font-weight:bold;vertical-align:middle; cursor:pointer; display:block; clear:both; height:20px;}
.setbox label input{ margin:0px 5px 0 0; padding:0px; vertical-align:middle;}
.setbox p{ margin:8px 0px 0px; padding:0px; font-family:"\5B8B\4F53"; color:#676767;}

