<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Detecon Big data </title>
    <!-- echart-->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <!-- Bootstrap -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendor/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'vendor/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="{% static 'vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="{% static 'polygon/custom.min.css' %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body class="nav-md">

<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title">
                        <!--侧栏顶部图标-->
                        <!--<i class="fa fa-paw"></i> -->
                        <span>Back Home</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <!-- 用户头像-->
                    <div class="profile_pic">
                        <!--<img src="images/img.jpg" alt="..." class="img-circle profile_img">-->
                    </div>
                    <!--/用户头像-->
                    <div class="profile_info">
                        <!--<span>Detecon</span>-->
                        <!--<h2>Big data</h2>-->
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <!--<h3>Case</h3>-->
                        <ul class="nav side-menu">
                            <!--侧栏菜单-->
                            <li><a><i class="fa fa-bar-chart-o"></i> Business Case <span
                                    class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="auto_page.html">Product Index Analysis <br> 产品指标分析</a></li>
                                    <li><a href="people_page.html">Forward Path Analysis <br> 传播路径分析</a></li>
                                    <li><a href="LTP_page.html">Natural Language Processing<br> 自然语言处理</a></li>
                                    <li><a href="CP_page.html" >Customer Partition <br> 客户群体划分</a></li>
                                    <li><a href="Config_page.html">Model and Configuration <br> 车型与配置</a></li>
                                    <li><a href="price_page.html">Car Residual Value <br> 二手车残值</a></li>
                                </ul>
                            </li>

                            <!--待开发-->
                            <!--<li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>-->
                            <!--<ul class="nav child_menu">-->
                            <!--<li><a href="form.html">General Form</a></li>-->
                            <!--<li><a href="form_advanced.html">Advanced Components</a></li>-->
                            <!--<li><a href="form_validation.html">Form Validation</a></li>-->
                            <!--<li><a href="form_wizards.html">Form Wizard</a></li>-->
                            <!--<li><a href="form_upload.html">Form Upload</a></li>-->
                            <!--<li><a href="form_buttons.html">Form Buttons</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->

                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav ">
            <!-- 右上角用户栏-->
            <div class="nav_menu ">

                <nav>
                    <div class="nav toggle ">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <!-- 用户栏下拉列表-->
                    <!--<ul class="nav navbar-nav navbar-right ">-->
                        <!--<li class="">-->
                            <!--<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"-->
                               <!--aria-expanded="false">-->
                                <!--&lt;!&ndash;<img src="images/img.jpg" alt="">&ndash;&gt;-->
                                <!--Detecon-->
                                <!--<span class=" fa fa-angle-down"></span>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu dropdown-usermenu pull-right">-->
                                <!--<li><a href="javascript:;"> Profile</a></li>-->
                                <!--<li>-->
                                    <!--<a href="javascript:;">-->
                                        <!--<span class="badge bg-red pull-right">50%</span>-->
                                        <!--<span>Settings</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li><a href="javascript:;">Help</a></li>-->
                                <!--<li><a href=""><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--/用户栏下拉列表-->

                </nav>

            </div>
            <!--/右上角用户栏-->
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="row tile_count">


                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Total Users/总用户数</span>
                    <div class="count">30510</div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-commenting-o "></i> Total Connect/总传播条数</span>
                    <div class="count ">377933</div>
                </div>


            </div>
            <!-- /top tiles -->

            <!--select tiles-->
            <div class="col-lg-13 ">
                <form method="get">
                    <div class="form-group ">
                        <!--<h4><label for="sel1">Select Brand</label></h4>-->
                        <select class="form-control" id="sel1">
                            <option selected="selected">VW</option>
                            <option>BMW</option>
                        </select>
                    </div>
                </form>
            </div>
            <!-- /select tiles-->

            <!--接收数据库返回信息-->
            <script type="text/javascript">
                $(document).ready(function(){
                  $("#sel1").change(function(){
                    var company = $("#sel1").val();
                    $.getJSON('{% url 'peopleEchartPage' %}',{'a':company}, function(ret){
                        drawPieAge(ret.people_get_pie);
                        drawPieGender(ret.people_get_pie);
                        drawPieRegion(ret.people_get_pie);
                        drawPieCityLevel(ret.people_get_pie);
                    })
                    $.getJSON('{% url 'peopleEchartPage' %}',{'path':company}, function(ret){
                        drawPath(ret.path)
                    })
                });
              });
                 var company = $("#sel1").val();
                    $.getJSON('{% url 'peopleEchartPage' %}',{'a':company}, function(ret){
                        drawPieAge(ret.people_get_pie);
                        drawPieGender(ret.people_get_pie);
                        drawPieRegion(ret.people_get_pie);
                        drawPieCityLevel(ret.people_get_pie);
                    })
                    $.getJSON('{% url 'peopleEchartPage' %}',{'path':company}, function(ret){
                        drawPath(ret.path)
                    })



            </script>
            <!--/接收数据库返回信息-->

            <!-- 图表行-->
            <!-- pie 行 -->
            <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <h3>Basic information of brand influencers/品牌影响力分布</h3>
                </div>
            </div>
            </div>

            <div class="row">
                <!-- age 图框-->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="x_panel">

                        <!-- 标题-->
                        <div class="col-md-3">
                                <h2>Age<br>年龄
                                    <!--<small>车主区域分布</small>-->
                                </h2>
                                <div class="clearfix"></div>
                            </div>
                        <!--/标题-->
                        <!-- chart_pie-->
                        <div id="line_1_pie" style="width: 100%;height:300%;">
                                <script type="text/javascript">
                                function drawPieAge(test_list){
                                    var dom = document.getElementById("line_1_pie");
                                    var drawPieAge = echarts.init(dom);
                                    var app = {};
                                    option = null;
                                    app.title = '环形图';

                                    option = {
                                        tooltip: {
                                            trigger: 'item',
                                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                                        },
                                        legend: {
                                            orient: 'horizontal',
                                            x: 'left',
                                            data:['<=25','26-30','31-35','36-40','>40']
                                        },
                                        series: [
                                            {
                                                name:'Age',
                                                type:'pie',
                                                radius: ['50%', '70%'],
                                                avoidLabelOverlap: false,
                                                label: {
                                                    normal: {
                                                        show: false,
                                                        position: 'center'
                                                    },
                                                    emphasis: {
                                                        show: true,
                                                        textStyle: {
                                                            fontSize: '30',
                                                            fontWeight: 'bold'
                                                        }
                                                    }
                                                },
                                                labelLine: {
                                                    normal: {
                                                        show: false
                                                    }
                                                },
                                                data:test_list[0]
                                            }
                                        ]
                                    };
                                    ;
                                    if (option && typeof option === "object") {
                                        drawPieAge.setOption(option, true);
                                    }
                                    }

                                </script>


                            </div>
                        <!--/chart_pie-->

                    </div>
                </div>
                <!--/age 图框-->

                <!-- gender 图框-->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="x_panel">

                        <!-- 标题-->
                        <div class="col-md-3">
                                <h2>Gender<br>性别
                                    <!--<small>车主区域分布</small>-->
                                </h2>
                                <div class="clearfix"></div>
                            </div>
                        <!--/标题-->
                        <!-- chart_pie-->
                        <div id="line_1_gender" style="width: 100%;height:300%;">
                                <script type="text/javascript">
                                function drawPieGender(test_list){
                                    var dom = document.getElementById("line_1_gender");
                                    var drawPieGender = echarts.init(dom);
                                    var app = {};
                                    option = null;
                                    app.title = '环形图';

                                    option = {
                                        tooltip: {
                                            trigger: 'item',
                                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                                        },
                                        legend: {
                                            orient: 'horizontal',
                                            x: 'left',
                                            data:['Male','Female']
                                        },
                                        series: [
                                            {
                                                name:'Gender',
                                                type:'pie',
                                                radius: ['50%', '70%'],
                                                avoidLabelOverlap: false,
                                                label: {
                                                    normal: {
                                                        show: false,
                                                        position: 'center'
                                                    },
                                                    emphasis: {
                                                        show: true,
                                                        textStyle: {
                                                            fontSize: '30',
                                                            fontWeight: 'bold'
                                                        }
                                                    }
                                                },
                                                labelLine: {
                                                    normal: {
                                                        show: false
                                                    }
                                                },
                                                data:test_list[1]
                                            }
                                        ]
                                    };
                                    ;
                                    if (option && typeof option === "object") {
                                        drawPieGender.setOption(option, true);
                                    }
                                    }

                                </script>


                            </div>
                        <!--/chart_pie-->

                    </div>
                </div>
                <!--/gender 图框-->

                <!-- region 图框-->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="x_panel">

                        <!-- 标题-->
                        <div class="col-md-3">
                                <h2>Region<br>区域
                                    <!--<small>车主区域分布</small>-->
                                </h2>
                                <div class="clearfix"></div>
                            </div>
                        <!--/标题-->
                        <!-- chart_pie-->
                        <div id="line_1_region" style="width: 100%;height:300%;">
                                <script type="text/javascript">
                                function drawPieRegion(test_list){
                                    var dom = document.getElementById("line_1_region");
                                    var drawPieRegion = echarts.init(dom);
                                    var app = {};
                                    option = null;
                                    app.title = '环形图';

                                    option = {
                                        tooltip: {
                                            trigger: 'item',
                                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                                        },
                                        legend: {
                                            orient: 'horizontal',
                                            x: 'left',
                                            data:['North','East','South','Central','West','Northeast']
                                        },
                                        series: [
                                            {
                                                name:'Region',
                                                type:'pie',
                                                radius: ['50%', '70%'],
                                                avoidLabelOverlap: false,
                                                label: {
                                                    normal: {
                                                        show: false,
                                                        position: 'center'
                                                    },
                                                    emphasis: {
                                                        show: true,
                                                        textStyle: {
                                                            fontSize: '20',
                                                            fontWeight: 'bold'
                                                        }
                                                    }
                                                },
                                                labelLine: {
                                                    normal: {
                                                        show: false
                                                    }
                                                },
                                                data:test_list[2]
                                            }
                                        ]
                                    };
                                    ;
                                    if (option && typeof option === "object") {
                                        drawPieRegion.setOption(option, true);
                                    }
                                    }

                                </script>


                            </div>
                        <!--/chart_pie-->

                    </div>
                </div>
                <!--/region 图框-->

                <!-- city level 图框-->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="x_panel">

                        <!-- 标题-->
                        <div class="col-md-5">
                                <h2>City Level<br>城市等级
                                    <!--<small>车主区域分布</small>-->
                                </h2>
                                <div class="clearfix"></div>
                            </div>
                        <!--/标题-->
                        <!-- chart_pie-->
                        <div id="line_1_citylevel" style="width: 100%;height:300%;">
                                <script type="text/javascript">
                                function drawPieCityLevel(test_list){
                                    var dom = document.getElementById("line_1_citylevel");
                                    var drawPieCityLevel = echarts.init(dom);
                                    var app = {};
                                    option = null;
                                    app.title = '环形图';

                                    option = {
                                        tooltip: {
                                            trigger: 'item',
                                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                                        },
                                        legend: {
                                            orient: 'horizontal',
                                            x: 'left',
                                            data:['Tier1','Tier2','Tier3','Tier4','Tier5','Tier6',]
                                        },
                                        series: [
                                            {
                                                name:'City Level',
                                                type:'pie',
                                                radius: ['50%', '70%'],
                                                avoidLabelOverlap: false,
                                                label: {
                                                    normal: {
                                                        show: false,
                                                        position: 'center'
                                                    },
                                                    emphasis: {
                                                        show: true,
                                                        textStyle: {
                                                            fontSize: '30',
                                                            fontWeight: 'bold'
                                                        }
                                                    }
                                                },
                                                labelLine: {
                                                    normal: {
                                                        show: false
                                                    }
                                                },
                                                data:test_list[3]
                                            }
                                        ]
                                    };
                                    ;
                                    if (option && typeof option === "object") {
                                        drawPieCityLevel.setOption(option, true);
                                    }
                                    }

                                </script>


                            </div>
                        <!--/chart_pie-->

                    </div>
                </div>
                <!--/city level 图框-->
            </div>
            <br/>
            <!--/pie 行 -->

            <!-- Path 行 -->
            <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <h3>Forward Path Analysis/传播路径分析</h3>
                </div>
            </div>
            </div>

            <div class="row">
                <!-- path 图框 -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <!-- 标题-->
                        <div class="col-md-9">
                            <h2>Forward Path<br>传播路径</h2>
                                <br>
                                <span class="count_top" style="color:red"><i class="fa fa-circle fa-lg"></i></span>
                                 Source of media communication/媒体传播源头
                                <br>
                                <span class="count_top" style="color:#122769"><i class="fa fa-circle fa-lg"></i></span>
                                 Individual communication/传播个体

                            <div class="clearfix"></div>
                        </div>
                        <!--/标题-->
                        <!--chart_path-->
                        <div id="line_2_purpose" style="width: 100%;height:850%;">
                            <script type="text/javascript">
                            var dom = document.getElementById("line_2_purpose");
                            var myChart = echarts.init(dom);
                            var app = {};
                            option = null;
                            myChart.showLoading();

                            function drawPath(webkitDep){
                                myChart.hideLoading();
                                option = {
                                    <!--鼠标移动 提示标签-->
                                    tooltip : {},

                                    series: [{
                                        type: 'graph',
                                        layout: 'force',
                                        hoverAnimation:'true',
                                        animation: false,
                                        label: {
                                            normal: {
                                                position: 'right',
                                                formatter: '{b}'
                                            }
                                        },
                                        draggable: false,
                                        data: webkitDep.nodes,
                                        <!--roam: true,-->
                                        <!--鼠标移动至关键点时，显示相邻点name-->
                                        <!--focusNodeAdjacency:true,-->
                                        force: {
                                            // initLayout: 'circular',
                                            // repulsion: 20,
                                            edgeLength: 30,
                                            repulsion: 20,
                                            gravity: 0.2,
                                            <!--layoutAnimation:false-->
                                        },
                                        links: webkitDep.links,
                                        lineStyle : {
                                            normal : {
                                                width : 1.5,
                                            },
                                        },
                                    }]
                                };

                                myChart.setOption(option);
                            }
                            if (option && typeof option === "object") {
                                myChart.setOption(option, true);
                            }

                            </script>
                        </div>
                        <!--/chart_path-->
                    </div>
                </div>
                <!--/path 图框 -->
            </div>
            <br/>
            <!--/Path 行 -->


            <!--/图表行-->

        </div>
        <!-- end of weather widget -->

    </div>
</div>


<!-- footer content  -->
<footer>
    <div class="pull-right">
    Detecon Big Data - <a href="/">Home</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->


<!-- jQuery -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'vendor/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'vendor/nprogress/nprogress.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'vendor/icheck/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'vendor/skycons/skycons.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'vendor/jqvmap/dist/jquery.vmap.js' %}"></script>
<script src="{% static 'vendor/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'vendor/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<!-- Custom Theme Scripts -->
<script src="{% static 'polygon/custom.min.js' %}"></script>

</body>
</html>
